<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jbook.jshop.mapper.EdCodeMapper">

    <select id="findByCode" parameterType="string" resultType="jbook.jshop.dto.EdCodeDto">
        SELECT
            ID,
            CODE,
            PARENT_CODE AS parentCode,
            CODE_NM     AS codeNm,
            TOGGLE_VALUE AS toggleValue,
            VALIDITY_DATE AS validityDate
        FROM ED_CODE
        WHERE CODE = #{code}
    </select>

</mapper>
