<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jbook.jshop.mapper.SyiifLogMapper">

    <!-- H2에서는 ID 컬럼은 AUTO_INCREMENT로 처리되므로, Insert 시에 명시하지 않습니다. -->
    <insert id="insertIfLog" parameterType="jbook.jshop.dto.SyiifLogDto">
        INSERT INTO TB_LOG_SYIIF (
            INTERFACE_ID, HEADER_KEY, NAME, MESSAGE, RAW_DATA, CREATED_AT
        ) VALUES (
                     #{interfaceId},
                     #{headerKey},
                     #{name},
                     #{message},
                     #{rawData},
                     CURRENT_TIMESTAMP
                 )
    </insert>

    <select id="selectIfLogs" resultType="jbook.jshop.dto.SyiifLogDto">
        SELECT
            ID,
            INTERFACE_ID,
            HEADER_KEY,
            NAME,
            MESSAGE,
            RAW_DATA,
            FORMATDATETIME(CREATED_AT, 'yyyy-MM-dd HH:mm:ss') AS CREATED_AT
        FROM TB_LOG_SYIIF
        ORDER BY ID DESC
    </select>

</mapper>
