<configuration>
    <!-- 콘솔에 출력되는 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일로 로그 저장 -->
    <!--
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> &lt;!&ndash; 로그를 30일간 보관 &ndash;&gt;
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <!-- 기본 로그 레벨 설정 -->
    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- MyBatis 로그 설정 -->
    <logger name="org.apache.ibatis" level="debug" />

    <!-- 특정 패키지에 대한 로그 레벨 설정 -->
    <logger name="org.springframework.web" level="debug"/>
    <logger name="jbook.jshop" level="trace"/>
</configuration>
